<br>
<br>

<div style="text-align: center;" >
<h3>Student Profile Details</h3>
</div>
<br>
<h2></h2>
<div class="row">
  <div class="col">
  </div>
  <div class="col">
      <table class="table" style="border: 2px solid rgb(189, 189, 189);">
          <tr>
              <strong><td>First Name :</td></strong>
              <td>{{student.firstName}}</td>
          </tr>
          <tr>
              <strong><td>Last Name :</td></strong>
              <td>{{student.lastName}}</td>
          </tr>
          <tr>
              <strong><td>Email :</td></strong>
              <td>{{student.email}}</td>
          </tr>
          <tr>
              <strong><td>User Name :</td></strong>
              <td>{{student.userName}}</td>
          </tr>
      </table>
  </div>
  <div class="col">
  </div>
</div>


