<form>

    <div>
      <label for="email">Exam Name</label>
      <input type="email" name="email" class="form-control" id="email"  [(ngModel)] = "examName" placeholder="Name" required>
    </div>
    <br>
    <div>
      <label for="username">Exam Description</label>
      <input type="text" name="username" class="form-control" id="username"  [(ngModel)] = "examDescription" placeholder="Description" required>
    </div>

    <br><br>
    <button [disabled] = "!examcreated" (click) = "onSubmit()" class="btn btn-light" type="Submit">Create Exam</button>
    <button [disabled] = "examcreated" (click) = "onSubmit2()" class="btn btn-light" type="Submit">Add Questions</button>
  </form>
